.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  list-style: none;
  display: flex;
  justify-content: center;
}

.div-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
